* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  
}

.header-hidden-block {
  height: 96px;
}

.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;

  height: 90px;
  width: calc(100% - 80px); 
  max-width: 940px;
  padding: 0 40px;

  border-bottom: 6px solid #323746;
  background-color: #2d303a;

  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;

  position: relative;

  letter-spacing: -0.5px;

  color: #ffffff;
}

.header__logo h1::after {
  position: absolute;
  top: 0;
  right: -10px;

  content: "*";

  color: #f06c64;
}

.navigation {
  display: flex;

  padding-top: 10px;
}

.navigation li {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;

  padding-left: 28px;

  list-style-type: none;

  letter-spacing: 0.03px;

  color: #ffffff;
}

.navigation li.active-nav a {
  color: #f06c64;
}

.navigation a {
  position: relative;

  text-decoration: none;

  color: #ffffff;
}


.navigation a.bullet::before {
  position: absolute;
  top: 7px;
  left: -15px;

  width: 3px;
  height: 3px;

  content: "";

  border-radius: 50%;
  background-color: #404455;
}

.navigation a:hover {
  color: #f06c64;
}

.slider {
  width: 100%;
  max-width: 1020px;
  position: relative;
  display: flex;
  justify-content: start;
  border-bottom: 5px solid #ea676b;
  background-color: #f06c64;
  transition: 1s ease-out;
  
}



.slider2 {
  background-image: url("./assets/img2/slider2.svg");
  background-size: 86% 86%;
  width: 100%;
  max-width: 1020px;
  max-height: 592px;
  height: 100%;
  position: absolute;
  border-bottom: 6px solid rgb(96, 137, 241);
  transition: 1s ease-out;
  background-color: #648BF0;
  background-repeat: no-repeat;
  background-position: center, center;
}


.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  max-width: 1020px;
}


.slider__iphone-vertical {
  position: relative;
  top: 0px;
  left: 11%;

  padding: 5.2% 0;
  max-width: 245px;
  width: 23.55%;
  
}

.slider__iphone-vertical img {
  max-width: 100%;
  width: 100%;
}

.slider__iphone-horizontal {
  position: relative;
  left: 18.15%;

  padding: 17.05% 0;
  width: 47.5%;
  max-width: 550px;
}

.slider__iphone-horizontal img {
  width:100%;
  max-width: 100%;
}

.slider__left-button {
  position: absolute;
  top: 47%;
  left: 4.2%;

  width: 16px;
  height: 27px;
  z-index: 5;
  cursor: pointer;

  background-image: url("./assets/img/chev-left.png");
}

.slider__left-button:hover {
  background-image: url("./assets/img/chev-left-black.png");
}

.slider__right-button {
  position: absolute;
  top: 47%;
  right: 3.9%;
  z-index: 5;

  width: 16px;
  height: 27px;

  cursor: pointer;

  background-image: url("./assets/img/chev-right.png");
}

.slider__right-button:hover {
  background-image: url("./assets/img/chev-right-black.png");
}

.services {
  overflow: hidden;

  max-width: 1020px;
  padding: 0 30px;
  min-height: 495px;
  text-align: justify;

  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.services__article {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;

  overflow: hidden;

  max-height: 40px;
  padding: 57px 0 0 10px;

  letter-spacing: -0.2px;

  color: #666d89;
}

.services__description {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;

  overflow: hidden;

  max-height: 60px;
  margin: 16px 0 45px;
  padding: 0 10px;

  color: #767e9e;
}

.layout-3-column {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.service {
  display: flex;
  overflow: hidden;

  width: 33.3%;
  margin-bottom: 29px;

  justify-content: space-between;
}

.service__icon {
  margin: 0 10px;
}



.service__description {
  max-height: 94px;
  margin: 0 10px;

  /* text-align: justify; */
}

.service__description div {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 900;
  line-height: 18px;

  overflow: hidden;

  max-height: 18px;
  margin-bottom: 10px;

  letter-spacing: -0.6px;

  color: #666d89;
}

.service__description span {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;

  color: #767e9e;
}


.portfolio {
  padding: 0 30px 47px;

  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolio__article {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 900;

  margin-bottom: 22px;
  padding: 59px 10px 0;

  color: #767e9e;
}

.portfolio__links {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  padding: 0 10px;
  margin: 14px 0 9px;

  color: #767e9e;
}

.portfolio p,
.about-us p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;

  color: #767e9e;
}

.portfolio p {
  padding: 0 10px;
}

.link {
  font-size: 12px;
  line-height: 12px;

  display: inline-block;

  margin: 0 7px 0 0;
  padding: 4px 6px 4px;

  cursor: pointer;
  letter-spacing: 0.05px;

  border: 1px solid #767e9e;
  border-radius: 5px;
}

.last-element {
  letter-spacing: -0.2px;
}

.selected {
  color: #dedede;
}

.selected-picture {
  outline: 5px solid #f06c64;
}

.link:first-child {
  margin-left: 1px;
}

.layout-4-column {
  display: flex;
  overflow: hidden;

  /* height: 621px; */

  justify-content: center;
  flex-wrap: wrap;
}

.layout-4-column img {
  margin: 10px;
}

.pictures-container {
  padding-bottom: 10px;
}

.about-us__article {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 900;

  padding: 59px 0 18px;

  color: #767e9e;
}

.about-us {
  padding: 0 40px 61px;

  
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.about-us p {
  line-height: 1.9rem;

  padding-bottom: 45px;

  text-align: justify;
}

.about-us h3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;

  overflow: hidden;

  max-width: 300px;
  height: 18px;
  margin-bottom: 10px;
  padding-top: 13px;

  letter-spacing: -0.2px;
  text-overflow: ellipsis;

  color: #767e9e;
}

.about-us__employee:first-child {
  margin-right: 2.5%;
}

.about-us__employee:nth-child(2) {
  margin-right: 2.5%;
}

.about-us__employee {
  max-width: 302px;
}

.about-us__employee p {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;

  padding-bottom: 20px;

  text-align: justify;
  letter-spacing: -0.08px;

  color: #767e9e;
}

.about-us__employee a {
  margin-right: 1px;
}

.about-us__employee > img {
  max-width: 100%;
}


.contacts h2 {
  font-size: 30px;
  font-weight: 900;

  margin-bottom: 18px;

  letter-spacing: -0.16px;
}

.contacts h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 0.8em;

  margin-top: 2px;
  margin-bottom: 12px;

  letter-spacing: -0.06px;
}

.contacts {
  font-family: "Lato", sans-serif;

  padding: 60px 40px 13px;

  color: #f0d8d9;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

.contacts p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;

  text-align: justify;
}

.contacts-column {
  display: flex;

  margin-top: 44px;
}

.contacts-column button {
  font-family: "Lato", sans-serif;
  font-size: 12px;

  display: block;

  margin-top: 14px;
  padding: 10px 14px;

  cursor: pointer;

  color: #f0d8d9;
  border: 1px solid #f0d8d9;
  border-radius: 5px;
  background-color: transparent;
}

.contacts-column button:hover {
  color: #ea676b;
  background-color: #f0d8d9;
}

.contacts-column input {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  display: block;
  width: 100%;

  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 11px 15px 12px;

  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.textarea {
  font-family: "Lato", sans-serif;
  font-size: 12px;

  box-sizing: border-box;
  height: 202px;
  padding: 10px 15px 12px;
  width: 100%;

  resize: none;

  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

::placeholder {
  color: #f48c8f;
}

.contacts-column__form {
  max-width: 619px;
  width: 335%;
  margin-right: 21px;
}

.contacts-column__information p {
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;

  text-align: justify;
}

.tel,
.email {
  display: block;
}

.tel {
  font-size: 12px;
  line-height: 22px;

  margin-top: -0.07em;
  padding-left: 23px;

  text-decoration: none;

  color: #f0d8d9;
  background: transparent url("assets/img2/icon-phone.svg") no-repeat left center;
}

.email {
  font-size: 12px;
  line-height: 22px;

  padding-left: 23px;

  text-decoration: none;

  color: #f0d8d9;
  background: transparent url("assets/img2/icon-email.svg") no-repeat left 7px;
}

.address {
  margin-top: 24px;
  padding-left: 23px;

  background: transparent url("assets/img2/icon-location.svg") no-repeat 3px center;
}


.footer {
  padding: 22px 38px 19px 42px;

  background-color: #2d303a;
}

.footer-column {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: normal;

  margin-top: -8px;

  letter-spacing: -0.1px;

  color: #666d89;
}

.icons-footer {
  margin-top: -1px;
}

.icons-footer a {
  margin-left: 1px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
  background-color: #d6564f;
  width: 300px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #f0d8d9;
}

.modal span:nth-child(3) {
  max-width: 300px;
  height: 55px;
  word-wrap: break-word;
  overflow: hidden;

}

.modal-btn {
  padding: 5px 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #f0d8d9;
  border: 1px solid #f0d8d9;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 1037px) {
  .pictures-container img{
    width: calc(25% - 20px);
  }
  .slider-container {
    height: 57.7vw;
  }
}

@media (max-width: 1018px) {
  .service {
    width: 45.3%;
  }
  .service__icon {
    margin: 0 10px 0 0;
  }
  .wrap {
    justify-content: center;
    padding-right: 15px;
    padding-bottom: 40px;
  }
  .service:nth-child(2n + 1) {
    margin-right: 50px;
  }
  .textarea {
    height: 160px;
  }
}


@media (max-width: 768px) {
  .contacts-column input {
    margin-bottom: 12px;
  }
  .contacts-column {
    margin-top: 30px;
  }
  .pictures-container img{
    width: calc(33% - 20px);
  }
  .services__description {
    max-height: 250px;
    margin: 16px 0 31px;
  }
  .services {
    border: 0;
  }
  .services__article {
    padding-top: 40px;
  }
  .about-us {
    border: 0;
  }
  .contacts {
    padding-top: 50px;
  }
  .address {
    margin-top: 15px;
  }
  .about-us__employee p {
    padding-bottom: 10px;
  }
  .about-us__employee h3 {
    margin-bottom: 5px;
  }
  .portfolio__list {
    margin-bottom: 17px;
  }
}

@media (max-width: 740px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .service {
    width: 100%;
    justify-content: start;
    margin-bottom: 26px;
  }
  .service:nth-child(2n + 1) {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding: 0 17px 25px;
    border: 0;
  }
  .portfolio > p {
    line-height: 30px;
  }
  .portfolio__article {
    padding: 40px 10px 0;
  }
  .about-us__column {
    flex-direction: column;
    align-items: center;
  }
  .contacts-column {
    flex-direction: column;
  }
  .contacts-column button{
    width: 100%;
    height: 50px;
  }
  .contacts-column__form {
    width: 100%;
    margin-bottom: 35px;
  }
  .pictures-container img{
    width: calc(50% - 20px);
  }
  
}
@media (max-width: 400) {
  .service__description {
    min-width: 100px;
    margin: 0;
    max-height: 300px;
  }
}
@media (max-width: 375px) {
  .about-us {
    padding: 0 30px 61px;
  }
  .contacts {
    padding: 40px 30px 35px;
    border: 0;
  }
  .contacts h3 {
    margin-bottom: 6px;
  }
  .contacts-column button {
    margin-top: 10px;
  }
  .contacts-column {
    margin-top: 25px;
  }
  .copyright {
    display: none;
  }
  .footer-column {
    justify-content: center;
  }
  .about-us {
    padding: 0 30px 45px;
  }
  .about-us__employee:nth-child(n + 2) {
    margin-top: 30px;
  }
  
  .about-us > p {
    padding-bottom: 26px;
  }
  .about-us__article {
    padding: 35px 0 18px;
  }
  .layout-4-column img {
    margin: 7px;
  }
  .layout-4-column img:nth-child(n + 9) {
    display: none;
  }
  .services__article {
    padding-top: 24px;
  }
  .service__icon {
    margin: 0 17px 0 0;
  }
  .address {
    margin-top: 15px;
  }
  .slider__right-button {
    background-size: 14px 23px;
    width: 14px;
    height: 23px;
    right: 2.3%;

  }
  .slider__left-button {
    background-size: 14px 23px;
    width: 14px;
    height: 23px;
    left: 2.7%;
  }
}

@media (max-width: 360px) {
  
  .services {
    text-align: left;
  }
  .link:last-child {
    margin-right: 0;
    margin-top: 10px;
  }
}